.container-form {
    width: 100%;
    height: 100vh;

    background-color: #fff;
}

.form-login {
    height: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: -260px;
}

::ng-deep .testClass {
    width: 700px;
    height: auto;
    background-color: rgb(114, 164, 218);
    margin-top: -100px;
    text-align: center;
    border: 2px solid #0000;
    border-radius: 12px;
    padding: 30px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

::ng-deep .dx-tabpanel .dx-multiview-wrapper{
    border: none;
}

::ng-deep .dx-form-group-caption {
    font-size: 30px;
    color: #000;
}

::ng-deep .dx-field-label {
    font-size: 16px;
    color: #000;
}

::ng-deep input.dx-texteditor-input {
    border: 1px solid #000;
}

::ng-deep .dx-button-text {
    font-size: 20px;
}

.dx-field-value {
    position: absolute;
    left: 150px;
    width: 60%!important;
}

.dx-field-label {
    position: relative;
    width: 30%;
}