<div id="addemployee">
  <div class="container-addcompany">
    <h2 class="title">Thêm nhân viên mới</h2>
    <form action="your-action" (submit)="onFormSubmit()">
      <div class="dx-field">
        <div class="dx-field-label">Tên nhân viên</div>
        <div class="dx-field-value">
          <dx-text-box
            [(value)]="nameEmployee"
            [showClearButton]="true"
            label="Tên nhân viên"
            labelMode="floating"
          >
            <dx-validator>
              <dxi-validation-rule
                type="required"
                message="Vui lòng nhập vào trường này"
              ></dxi-validation-rule>
              <!-- <dxi-validation-rule
                  type="pattern"
                  [pattern]="stringPattern"
                ></dxi-validation-rule> -->
            </dx-validator>
          </dx-text-box>
        </div>
      </div>
      <div class="dx-field">
        <div class="dx-field-label">Số điện thoại</div>
        <div class="dx-field-value">
          <dx-text-box
            [(value)]="phoneEmployee"
            mask="HHHHHHHHHH"
            [maskRules]="maskRules"
            [showClearButton]="true"
          >
            <dx-validator>
              <dxi-validation-rule
                type="required"
                message="Vui lòng nhập vào trường này"
              ></dxi-validation-rule>
            </dx-validator>
          </dx-text-box>
        </div>
      </div>
      <div class="dx-field">
        <div class="dx-field-label">Địa chỉ nhân viên</div>
        <div class="dx-field-value">
          <dx-text-box
            [(value)]="addressEmployee"
            label="Địa chỉ nhân viên"
            labelMode="floating"
            [showClearButton]="true"
          >
            <dx-validator>
              <!-- <dxi-validation-rule
                  type="pattern"
                  [pattern]="stringPattern"
                ></dxi-validation-rule> -->
              <dxi-validation-rule
                type="required"
                message="Vui lòng nhập vào trường này"
              ></dxi-validation-rule>
            </dx-validator>
          </dx-text-box>
        </div>
      </div>
      <div class="dx-field">
        <div class="dx-field-label">Công ty</div>
        <div class="dx-field-value">
          <!-- [searchEnabled]="true" -->
          <dx-select-box
            placeholder="---------------------------------------------Select---------------------------------------------"
            class="list-company"
            [showClearButton]="true"
            [dataSource]="listCompany"
            valueExpr="companyID"
            displayExpr="nameCompany"
            [width]="'72%'"
            [inputAttr]="{ 'aria-label': 'Simple Product' }"
            (onValueChanged)="onValueChanged($event)"
          >
            <dx-validator>
              <dxi-validation-rule
                type="required"
                message="Vui lòng nhập vào trường này"
              ></dxi-validation-rule>
            </dx-validator>
          </dx-select-box>
        </div>
      </div>
      <div class="dx-fieldset">
        <dx-button
          width="77.6%"
          id="button"
          text="Register"
          type="success"
          [useSubmitBehavior]="true"
        >
        </dx-button>
      </div>
    </form>
  </div>
</div>
