.topnav {
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    height: 50px;
    background-color: #3f51b5;
    z-index: 999999;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.title-topnav {
    font-size: 18px;
    color: #fff;
    line-height: 50px;
    padding-left: 20px;
    font-weight: 600;
}

.logout-btn {
    line-height: 50px;   
    margin-right: 20px;
}

::ng-deep dx-button { 
    color: #000;
}

::ng-deep dx-button:hover {
    opacity: 0.8;
}